<h1>My Collections</h1>

<% @collections.each do |collection| %>
  <div class="collection">
    <h2><%= link_to collection.name, collection_path(collection) %></h2>
    <%= link_to 'Edit', edit_collection_path(collection) %>
    <%# <%= link_to 'Delete', collection_path(collection), method: :delete, data: { confirm: 'Are you sure?' } %> %>
  </div>
<% end %>

<%= link_to 'Add New Collection', new_collection_path, class: 'btn btn-primary' %>
