<div class="container">
  <h1>Mes Collections</h1>

  <% @collections.each do |collection| %>
    <div class="collection">
      <h2><%= link_to collection.name, collection_path(collection) %></h2>
      <div class="actions">
        <%= link_to 'Delete', collection_path(collection), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      </div>
    </div>
  <% end %>

  <div id="infoText" style="display: none;"> <!-- Élément pour afficher l'explication -->
    <p>Ceci est ta page collection, c'est ici que tu retrouves toutes tes collections de cartes. Clique sur celle que tu veux pour accéder à tes albums.</p>
  </div>
</div>

<%= javascript_include_tag 'info_button' %>
