<h1><%= @collection.name %></h1>

<%= button_to 'Delete Collection', collection_path(@collection), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>

<h2>Albums</h2>
<% @collection.albums.each do |album| %>
  <div class="album">
    <h3>
      <%= link_to album.name, album_path(album) %>
      <%= button_to 'Delete', album_path(album), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    </h3>
  </div>
<% end %>
