<div class="type-list-scrollable my-3">
  <div class="type-list-content">
    <% Pokemon::TYPES.each do |type| %>
      <%= link_to request.params.merge(type: type), class:"type-link #{type}" do %>
        <%= image_tag("energy/#{type}.png", class: "icon-type-search-bar") %>
      <% end %>
    <% end %>
  </div>
</div>


<script>
  const urlSearchParams = new URLSearchParams(window.location.search);
  const queryParams = Object.fromEntries(urlSearchParams.entries());
  const typelinkList = document.getElementsByClassName("type-link")

  if(queryParams.type) {
    for (let typelink of typelinkList) {
      if(!typelink.classList.contains(queryParams.type)) {
        typelink.classList.add("inactif")
        } else {
        typelink.classList.add("actif")
      }
    };
  }
</script>
