<div class="container" data-controller="carousel" data-carousel-pokemon-count-value="<%= @album.pokemons.count %>">
  <div class="all-infos">
    <div class="contain x mandatory-scroll-snapping" data-action="scrollend->carousel#end" >
      <% @reordered_pokemons.each_with_index do |pokemon, index| %>
        <%= pokemon_image_tag(pokemon, index) %>
      <% end %>
    </div>
    <%= render "pokemon_content", pokemon: @pokemon %>
  </div>
  <%= link_to 'Retour à mon album', album_path, class: 'btn btn-secondary' %>
</div>
