<div class="container" data-controller="carousel" data-carousel-pokemon-count-value="<%= @album.pokemons.count %>">
  <div class="all-infos">
    <div class="contain x mandatory-scroll-snapping" data-action="scrollend->carousel#end" >
      <% @reordered_pokemons.each_with_index do |pokemon, index| %>
        <%= pokemon_image_tag(pokemon, index) %>
      <% end %>
    </div>
    <%= render "pokemon_content", pokemon: @pokemon %>
  </div>
</div>

<%= javascript_include_tag 'side_bar_pokemon_show' %>
