@import "colors";

.navbar-album {
  display: flex;
  justify-content: end;
  // align-items: right;
}

.selected-image {
  border: 2px solid red;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-size {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  background-color: $orange;
  box-sizing: border-box;
  margin-inline: 8px;
  border-radius: 12px;
  // box-shadow: 9px 10px 7px 0px rgba(239, 169, 28, 0.75);
}

.name-style {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  padding: 8px 0 8px 0;
  font-weight: bold;
  font-size: 14px;
}

.img-size {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .pokemon-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 8px;
  }
}

/**
* ----------------------------------------
* animation slide-in-top de l'image de la carte
* ----------------------------------------
*/
.slide-in-top {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
/**
* ----------------------------------------
* fin animation slide-in-top de l'image de la carte
* ----------------------------------------
*/

.content {
  margin-right: 4px;
  margin-left: 4px;
}

.titlePoke {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

/**
* ----------------------------------------
* animation slide-in-bottom du bloc de texte
* ----------------------------------------
*/
.slide-in-bottom {
	-webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}


/**
* ----------------------------------------
* fin animation slide-in-bottom du bloc de texte
* ----------------------------------------
*/

/**
* ----------------------------------------
*/

/* Media Queries pour ajuster le layout sur les écrans plus petits */
@media (max-width: 767px) {
  .card-size {
    width: calc(90 / 2 * 1%); /* Deux cartes par ligne */
  }
}

/* Media Queries pour ajuster le layout sur les écrans plus petits */
@media (min-width: 768px) and (max-width: 1023px) {
  .card-size {
    width: calc(92 / 3 * 1%); /* Trois cartes par ligne */
  }
}

/* Media Queries pour ajuster le layout sur les écrans plus petits */
@media (min-width: 1024px) {
  .card-size {
    width: calc(92 / 4 * 1%); /* Trois cartes par ligne */
  }
}

// @media (max-width: 768px) {
//   .card-size {
//     width: calc(); /* Une carte par ligne */
//   }
// }
