@import "colors";

.navbar-album {
  display: flex;
  justify-content: end;
  // align-items: right;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-size {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  background-color: $orange;
  box-sizing: border-box;
  margin-inline: 8px;
  border-radius: 12px;
  // box-shadow: 9px 10px 7px 0px rgba(239, 169, 28, 0.75);
}

.name-style {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  padding: 8px 0 8px 0;
  font-weight: bold;
  font-size: 14px;
}

.img-size {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .pokemon-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 8px;
  }
}

.content {
  margin-right: 4px;
  margin-left: 4px;
}

.titlePoke {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

/* Media Queries pour ajuster le layout sur les écrans plus petits */
@media (max-width: 767px) {
  .card-size {
    width: calc(90 / 2 * 1%); /* Deux cartes par ligne */
  }
}

/* Media Queries pour ajuster le layout sur les écrans plus petits */
@media (min-width: 768px) and (max-width: 1023px) {
  .card-size {
    width: calc(92 / 3 * 1%); /* Trois cartes par ligne */
  }
}

/* Media Queries pour ajuster le layout sur les écrans plus petits */
@media (min-width: 1024px) {
  .card-size {
    width: calc(92 / 4 * 1%); /* Trois cartes par ligne */
  }
}

// @media (max-width: 768px) {
//   .card-size {
//     width: calc(); /* Une carte par ligne */
//   }
// }
