$blue: #0d6efd;
// $bg: #FBFCFA;
$bg: #444444;
$orange: #fcbf49;
$red: #d62828;
$bg-zone-info: #656363;
$txt-color-info-zone: #f4f4f4;
$bleu-canard: #1e3d59;
$light-bleu-canard: #bbc4cd;
$blanc-creme: #fbfcfa;

