.collection{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -10px;
  .collection-item{
    width: calc(33.333% - 20px);
    margin: 0 10px 20px;
  }
}

.collection a{
  text-decoration: none;
}
