@import "colors";

.faq {
  min-width: 40%;

  h2 {
    text-align: center;
  }

  .accordion {
    max-width: 498px;

    .accordion-item {
      background-color: $bg-zone-info;
      color: $txt-color-info-zone;
    }
  }

  .accordion-button {
    background-color: $bleu-canard;
    color: $txt-color-info-zone;

    }
}

.dracau-img {
  max-width: 300px;
  height: auto;
}

/**
        * ----------------------------------------
 * animation slide-in-left - bloc FAQ
 * ----------------------------------------
 */
.slide-in-left {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
/**
 * ----------------------------------------
 * fin animation slide-in-left - bloc FAQ
 * ----------------------------------------
 */

/**
  * ----------------------------------------
  * animation slide-in-right - Dracaufeu
  * ----------------------------------------
  */
.slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
/**
  * ----------------------------------------
  * fin animation slide-in-right - Dracaufeu
  * ----------------------------------------
  */

/* Début de code pour animation JS */

@keyframes fadeIn {
  from {
    // opacity: 0;
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.hidden {
  opacity: 0;
}

.fade-in {
  animation: fadeIn 1s forwards;
}
/* Fin de code pour animation JS */
