@import "colors";

.poke-name-title {
  margin-bottom: 32px;
  font-weight: bold;
  color: #f4f4f4;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.all-infos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  gap: 24px;

  .poke-card {
    width: calc(40% - 12px);
    min-width: 250px;
    max-width: 450px;

    .pokemon-image-info {
      width: 100%;
      height: auto;
    }
  }

  .info-zone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    width: calc(60% - 12px);
    min-width: 300px;
    max-width: 600px;

    .zone {
      display: flex;
      flex-direction: column;
      background: $bg-zone-info;
      border: solid;
      border-color: $txt-color-info-zone;
      border-radius: 12px;
      // box-shadow: 10px 10px 10px 0px rgba(106,101,101,0.75);
      padding: 12px;
      color: $txt-color-info-zone;

      span {
        font-weight: bold;
      }

      .show-pokemon-attaque-name {
        display: flex;
        display: inline-block;
      }
    }
  }
}

.icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  border-radius: 50%;
}

.show-pokemon-add-icon {
  width: 50px;
  height: 50px;
}
