@import "colors";

.poke-name-title {
  margin-bottom: 24px;
  font-weight: bold;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.all-infos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  gap: 24px;

  .poke-card {
    width: calc(40% - 12px);
    min-width: 250px;
    max-width: 450px;

    .pokemon-image-info {
      width: 100%;
      height: auto;
    }
  }

  .info-zone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;

    width: calc(60% - 12px);
    min-width: 300px;
    max-width: 600px;

    .zone {
      display: flex;
      flex-direction: column;
      background-color: $orange;
      border: solid;
      border-color: $red;
      border-radius: 12px;
      padding: 12px;

      span {
        font-weight: bold;
      }
    }
  }
}

.icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  border-radius: 50%;
}
