#pokemon_type {

  position: relative;
  overflow: hidden;
  width: 100%;
}


#type {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  max-width: 100% !important;
  overflow-x: scroll;
  gap: 30px;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

#type::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

#scroll {
  position: absolute;
  right: 20px;
  top: 0;
  bottom: 0;
}
