@import "colors";

.search-page {
  background-color: $bg;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  text-align: center;
  margin-top: 10px;

  .align-search {
    margin-top: 10px;
    padding: 0 10%;

    .float {
      float: left;
      display: inline;
    }
  }
}
