@import "colors";

.season-background {
    overflow-x: auto;
      width: 100%;
  // background-color: grey;
  // border: solid #fbfcfa;
  border-radius: 10px;
  padding: 4px;
  margin: 4px;
}

.season-background::-webkit-scrollbar {
  display: none;
}

.season-list-scrollable {
  white-space: nowrap;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}


.season-list-scrollable::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.season-list-content {
  display: inline-flex;
}

.season-link {
  text-decoration: none;
}

.season-name {
  display: inline-block;
  padding: 4px 4px;
  background-color: grey;
  border-radius: 10px;
  color: black;
  margin-right: 4px;
}

.season-link .season-name {
  font-weight: normal;
}

.season-link .season-name.bold {
  font-weight: bold;
}

.extensions-container {
  margin-top: 10px;
}

.button-container {
  display: flex;
  align-items: center;
}

.extension-list {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.season-link {
  display: inline-block;
  padding: 4px 4px;
  background-color: grey;
    border-color: $bleu-canard !important;
  border-radius: 10px;
  color: black;
  margin-right: 4px;
}

.season-link.bold {
  font-weight: bold;
}

.button-scroll {
  letter-spacing: 1px;
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-weight: 400;
    border-color: white;
  // font-size: 0.875rem;
  // width: 100%;
  padding: 4px 8px 4px 8px;
  color: #ffffff !important;
  background-color: #404040 !important;
  border-width: 2px;
}
