.statistic {
  padding-top: 20px;

  .extension-stat {
    cursor: pointer;
    margin-bottom: 4px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 100px;

    background-color: #444444;
  }

  .extension-stat h3,
  .extension-stat .stats {
    background-color: #1e3d59;
    margin: 0;
    padding: 4px;
    font-size: 13px;
  }

  .extension-stat h3 {
    font-size: 13px;
  }

  .stats {
    font-size: 16px;
  }

  .progress {
    height: 10px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #e9ecef;
    margin-bottom: 10px;
    border: 1px solid $light-bleu-canard;
  }

  .progress-bar {
    background-color: #74c365;
    transition: width 0.6s ease;
  }

  .card-body {
    max-height: 150px;
    overflow: auto;
    padding: 15px;
    background-color: #fbfcfa;
  }

  .extension-details p {
    margin: 0;
    padding: 5px 0;
    color: #1e3d59;
  }

  .extension-details {
    padding: 10px 15px;
    background-color: #fbfcfa;
  }
}
