<!-- FOOTER -->
<div class="footer d-flex justify-content-center align-items-center">
  <div class="footer-copyright mt-3 text-center">
    <hr>
    Réalisé par une super équipe à Le Wagon <br>
    #Batch 1648 - Lyon
<img src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExZm1xdmVpcnZnY3U2dG9uZDVvd3F1M29xMTlmN2VhNmE1aTljN3RkeSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/FCffpN404oRZpFbSzl/giphy.webp" style="max-width: 50px; height: auto;">
  </div>
</div>
<!-- FOOTER -->
